@page "/admin/leapseconds"
@layout AdminLayout
@inject YamcsClient client
@using Yamcs.Shared


<h1>Leap seconds</h1>

@if(tbl==null)
            {

    <div class="spinner"></div>
            }


else
{
    <table class="table">
        <thead>
            <tr>
                <th>Valid period</th>
                <th>Leap seconds</th>
                <th>TAI-UTC</th>
                <th>UTC-TAI</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tbl.Ranges)
            {
            <tr>
                <td>@item.Start - @item.Stop</td>
                <td>@item.LeapSeconds</td>
                <td>@item.TaiDifference</td>
                <td></td>
            </tr>
            }
</tbody>
         
    </table>
}

@code {
    LeapSecondsTableResponse tbl;

    protected override async Task OnInitializedAsync()
    {
        tbl = await client.getLeapSeconds();
    }

}
