@page "/admin/plugins"
@layout AdminLayout
@inject HttpClient Http
@inject YamcsClient client;
@using Yamcs.Shared

<h1>Plugins</h1>


@if (info == null)
{
    <p><em>Loading Plugin Information...</em></p>

}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Version</th>
                <th>Maintainer</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var plugin in info.Plugins)
            {
               <tr>
                   <td>@plugin.Name</td>
                   <td>@plugin.description</td>
                   <td>@plugin.Version</td>
                   <td>@plugin.Vendor</td>
               </tr>
            }


        </tbody>
    </table>
}

@code {
    GeneralInfo info;
    protected override async Task OnInitializedAsync()
    {
        info = await client.getGeneralInfo();
    }

}
