@page "/admin/plugins"
@layout AdminLayout
@inject HttpClient Http
@using Yamcs.Shared

<h1>Plugins</h1>




else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Version</th>
                <th>Maintainer</th>
            </tr>

        </thead>
        <tbody>
        


        </tbody>
    </table>
}

@code {



}
