@page "/admin/services"
@layout AdminLayout
@inject HttpClient Http
@using Yamcs.Shared

<h1>Services</h1>




else
{
    <table class="table">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
}

@code {
 

}
