@page "/admin/accesscontrol/users"
@using Yamcs.Shared
@inject HttpClient Http

<h1>Users</h1>



else
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Joined</th>
                <th>Active</th>
                <th>Display name</th>
                <th>Email</th>
                <th>Confirmed at</th>
            </tr>
        </thead>
        <tbody>
            </tbody>

    </table>
}

@code {
   

}
