@page "/timeline/chart"
@inject HttpClient Http

<h1>Chart</h1>




    <table class="table">
        <thead>
            <tr>
                <th>Packet</th>
                <th>Packet Time</th>
                <th>Received</th>
                <th>Packet Rate</th>
                <th>Data Rate</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


@code {
  

    protected override async Task OnInitializedAsync()
    {
        
    }


}
