
@implements IDisposable

            <div>
                <NavLink href="">Login</NavLink> | 
                <NavLink href="register">Register</NavLink>
                <NavLink href="Admin/admin">admin </NavLink>
            </div>

    @code {
        protected override void OnInitialized()
        {
          
        }

        public void Dispose()
        {
          
        }
    }
