@page "/missiondb/commands"
@inject HttpClient Http
@inject YamcsClient client 
<h1>Commands</h1>



@if (commandpages == null)
{
    <p><em>Loading...</em></p>
    <div class="spinner"></div>
}
else
{
    <Pagination TotaPagesQuantity="totalPageQuantity" CurrentPage="currentPage" Radius="2"
                SelectedPage="SelectedPage"></Pagination>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Significance</th>
                <th>Abstract</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var command in commandpages.Commands)
            {
            <tr>
                <td>@command.Name</td>
                @if(command.Significance!=null)
                    {
                <td>@command.Significance.consequence</td>

                    }
                    else
                    {
                        <td></td>
                    }
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private CommandsPage commandpages;
    private int totalPageQuantity;
    private int currentPage = 1;

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await LoadCommands(page);
    }
    protected override async Task OnInitializedAsync()
    {

        await LoadCommands();
    }

    async Task LoadCommands(int pagee = 1, int quantityperpage = 100)
    {
        commandpages = await client.getCommands("simulator", pagee, quantityperpage);
        totalPageQuantity = commandpages.TotalSize;
    }
}
