@page "/missiondb/parameters"
@inject YamcsClient client


<h1>Parameters</h1>


@if (parameters == null)
{
    <p><em>Loading...</em></p>
    <div class="spinner"></div>
}
else
{
    <Pagination TotaPagesQuantity="totalPageQuantity" CurrentPage="currentPage" Radius="2"
                SelectedPage="SelectedPage"></Pagination>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Units</th>
                <th>Data Source</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var parameter in parameters.Parameters)
            {
                <tr>
                    <td>@parameter.Name</td>
                    @if (parameter.Type != null)
                    {
                        <td>@parameter.Type.EngType</td>
                        @if (parameter.Type.UnitSet != null)
                        {
                            <td>@parameter.Type.UnitSet[0].Unit</td>

                        }
                        else
                        {
                            <td> </td>
                        }
                    }
                    <td>@parameter.Datasource</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ParametersPage parameters;
    private int totalPageQuantity;
    private int currentPage = 1;
    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await LoadParameters(page);
    }
    protected override async Task OnInitializedAsync()
    {

        await LoadParameters();
    }

    async Task LoadParameters(int pagee = 1, int quantityperpage = 100)
    {
        parameters = await client.getParameters("simulator", pagee, quantityperpage);
        totalPageQuantity = parameters.TotalSize;
    }

}
